body {
    margin: 0;
    padding: 0;
    background-color: rgb(42, 42, 42);
    overflow: hidden;
}

.border{
    padding: 20px;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 2px;
    animation: rainbow 10s linear infinite;
    height: 588px;
}

@keyframes rainbow {
    0% { border-image-source: linear-gradient(90deg, red, red, red, red, red, red, red); }
    14.29% { border-image-source: linear-gradient(90deg, red, orange, orange, orange, orange, orange, orange); }
    28.58% { border-image-source: linear-gradient(90deg, orange, yellow, yellow, yellow, yellow, yellow, yellow); }
    42.87% { border-image-source: linear-gradient(90deg, yellow, green, green, green, green, green, green); }
    57.16% { border-image-source: linear-gradient(90deg, green, blue, blue, blue, blue, blue, blue); }
    71.45% { border-image-source: linear-gradient(90deg, blue, indigo, indigo, indigo, indigo, indigo, indigo); }
    85.74% { border-image-source: linear-gradient(90deg, indigo, violet, violet, violet, violet, violet, violet); }
    100% { border-image-source: linear-gradient(90deg, violet, red, red, red, red, red, red); }
}

header{
    margin: 0px;
}

h1{
    margin: 0px;
}

h1 a{
    color: white;
    text-decoration: none;
}

main{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea{
    resize: none;
    height: 200px;
    width: 500px;
    background-color: #D9D9D9;
    border: 2px solid #FF00D6;
    border-radius: 10px;
}

#charCount{
    color: white;
}

.submit{
    text-align: center;
}

.btn{
    margin: 10px;
    padding: 15px;
    width: 150px;
    border: 2px solid #FF00D6;
    border-radius: 30px;
}